@import "tailwindcss";
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  position: relative;
  width: 1500px;
  height: 600px;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
svg {
  width: 100%;
  height: 100%;
}
.fnt{
  font-family: "Work Sans", sans-serif;
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 40px;
}

.footer-column {
  width: 30%;
  position: relative;
  transition: opacity 0.4s ease;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-column p {
  margin: 8px 0;
  font-size: 14px;
}

/* Privacy Reveal */
.privacy-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}
.privacy-contentt {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}
.footer-column:hover .privacy-content {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}
.footer-column:hover .privacy-contentt {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}
/* Fade others when Privacy is hovered */
.footer:hover .footer-column {
  opacity: 0.5;
}

.footer-column:hover {
  opacity: 1 !important;
}